.login_form {
    width: 15%;
    margin: auto;
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 70px;
    -webkit-box-shadow: 10px 10px 9px -5px rgba(222,222,222,1);
    -moz-box-shadow: 10px 10px 9px -5px rgba(222,222,222,1);
    box-shadow: 10px 10px 9px -5px rgba(222,222,222,1);
    border: 2px #f2f2f2 solid;
}

.login_form input{
    padding: 10px;
    margin: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #898989 solid;
}
#submit {
    border: none;
    width: 150px;
    background: #40AFC2;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
}
